<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="@Links.vendors.bootstrap.dist.css.bootstrap_min_css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Links.vendors.font_awesome.css.font_awesome_min_css" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Links.vendors.nprogress.nprogress_css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="@Links.vendors.animate_css.animate_min_css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/Assets/custom.css" rel="stylesheet">
</head>

<body class="login">
    @RenderBody()

    <!-- validator -->
    <script src="@Links.vendors.validator.validator_js"></script>
</body>
</html>
